<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Account</title>
</head>

<body>
    <form action="/user/{{user.id}}" method="post">
        <h2>{{user.first_name}}'s Decks</h2>
        <input type="hidden" name="id" value={{user.id}}>
        <a href="/decks/new">+ Create</a>
        <a href="/dashboard">Dashboard</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Added By:</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <td>{% for deck in user.decks %}
                    <tr>
                        <th scope="row">Deck Name: {{deck.name}}</th>
                        <th scope="row">Deck Description: {{deck.description}}</th>
                        <th scope="row">Added by: {{user.first_name}} {{user.last_name}}</th>
                        <td><a href="/decks/{{deck.id}}">View</a></td>
                        <td><a href="/decks/edit/{{deck.id}}">Edit</a></td>
                        <td><a href="/decks/delete/{{deck.id}}">delete</a></td>
                        {% endfor %}
            </tbody>


    </form>
</body>

</html>